.banner-highlight {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: url(../images/fundo.png);
    background-size: contain;
    background-position: center;
    padding: 32px 24px;
}

.banner-highlight-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    background-color: #e18795;
    padding: 24px;

    width: auto;
    max-width: 65%;
}

.banner-highlight-title {
    font-size: 18px;
}

.banner-highlight-subtitle {
    font-size: 32px;
    margin-bottom: 12px;
}

.banner-highlight-description {
    margin-bottom: 24px;
}

.banner-highlight-image-background {
    display: block;
    background-color: #fff;
    width: 300px;
    height: 300px;
    border: 10px solid #f41668;
    border-radius: 50%;
}

.banner-highlight-image-background img {
    object-fit: contain;
    width: 100%;
}