.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #2a0f14;
    color: #fff;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer-navigation-title {
    margin-bottom: 8px;
}

.footer-navigation-list {
    list-style: square;
    margin-left: 16px;
    line-height: 28px;
}

.footer-content-legal-text {
    display: block;
    margin-top: 16px;
    font-size: 12px;
}