.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #eceeef;
    border-bottom: 2px solid #a5bac5;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo {
    display: block;
    width: 200px;
}

.header-logo img {
    width: 100%;
}

.header-navigation-item {
    display: inline;
    padding: 0 4px;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header-logo {
        margin-bottom: 16px;
    }

    .header-navigation-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
