.button {
    display: inline-block;
    border: 2px solid #2a0f14;
    border-radius: 12px;
    padding: 8px 24px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-color: #2a0f14;
}

.button:hover {
    color: #2a0f14;
    background-color: transparent;
    text-decoration: none;
}

.button-outlined {
    color: #2a0f14;
    background-color: transparent;
}

.button-outlined:hover {
    color: #fff;
    background-color: #2a0f14;
}