.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #2a0f14;
    color: #fff;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer-navigation-title {
    margin-bottom: 8px;
}

.footer-navigation-list {
    list-style: square;
    margin-left: 16px;
    line-height: 28px;
}

.footer-content-legal-text {
    display: block;
    margin-top: 16px;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
    }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    .footer {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 24px;
    }

    .footer-content {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}